<%= form_with(model: broodling, local: true) do |form| %>
  <% if broodling.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(broodling.errors.count, "error") %> prohibited this broodling from being saved:</h2>

      <ul>
      <% broodling.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :stats %>
    <%= form.text_field :stats %>
  </div>

  <div class="field">
    <%= form.label :base_points %>
    <%= form.number_field :base_points %>
  </div>

  <div class="field">
    <%= form.label :battlefield_role %>
    <%= form.text_field :battlefield_role %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
