<p id="notice"><%= notice %></p>

<h1>Broodlings</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Stats</th>
      <th>Base points</th>
      <th>Battlefield role</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @broodlings.each do |broodling| %>
      <tr>
        <td><%= broodling.name %></td>
        <td><%= broodling.stats %></td>
        <td><%= broodling.base_points %></td>
        <td><%= broodling.battlefield_role %></td>
        <td><%= link_to 'Show', broodling %></td>
        <td><%= link_to 'Edit', edit_broodling_path(broodling) %></td>
        <td><%= link_to 'Destroy', broodling, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Broodling', new_broodling_path %>
