<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @broodling.name %>
</p>

<p>
  <strong>Stats:</strong>
  <%= @broodling.stats %>
</p>

<p>
  <strong>Base points:</strong>
  <%= @broodling.base_points %>
</p>

<p>
  <strong>Battlefield role:</strong>
  <%= @broodling.battlefield_role %>
</p>

<%= link_to 'Edit', edit_broodling_path(@broodling) %> |
<%= link_to 'Back', broodlings_path %>
